.product_table {
  display: flex;
  width: 100%;
  max-width: 100%;
}


.table_product,
.table_show {
  width: 50%;
  max-width: 50%;
  border-collapse: collapse;
  cursor: pointer;
}

.table_product {
  margin-right: 10px;
}

.table_show {
  height: 100%;
  position: relative;
  margin-left: 10px;

}

th,
td {
  padding: 10px;
  border: 1px solid;
  text-align: center;
}

.rm {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 7px 15px;
}
